.navbar {
  background-color: #54a8ff; /* Açık mavi arka plan */
  color: #FFFFFF; /* Beyaz metin */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo {
  font-size: 1.5rem;
  color: #FFFFFF; /* Beyaz metin */
  text-decoration: none;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 15px;
}

.navbar-menu a {
  color: #FFFFFF; /* Beyaz metin */
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #004080; /* Koyu mavi hover rengi */
}

.navbar-hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-hamburger span {
  background-color: #FFFFFF; /* Beyaz çizgiler */
  height: 3px;
  width: 25px;
  margin: 3px 0;
}

/* Mobil görünümde hamburger menüyü göster */
@media (max-width: 768px) {
  .navbar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 45px; /* Navbar'ın yüksekliği kadar yukarıda */
    left: 0;
    background-color: #54a8ff; /* Açık mavi arka plan */
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    opacity: 0; /* Başlangıçta görünmez */
    visibility: hidden; /* Başlangıçta görünmez */
    text-align: center;
  }

  .navbar-menu.active {
    transform: translateY(0);
    opacity: 1; /* Menü açıkken görünür */
    visibility: visible; /* Menü açıkken görünür */
  }
  
  .navbar-menu li {
    margin: 10px 0;
  }
  .navbar-hamburger {
    display: flex;
  }
}
